<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default">
    
    <listeners>
        <listener class-name="com.hetacz.ngtotr.TestRailIntegration"/>
    </listeners>
    
<!--    <parameter name="runID" value=""></parameter>-->
    
    <test name="MyTest">
        <packages>
            <package name="com.hetacz.ngtotr.test"/>
        </packages>
    </test>
</suite>
